DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=admin
DB_PASSWORD=secretpassword
DB_NAME=proyecto_formativo
DB_SYNCHRONIZE=true
PORT=3000
JWT_SECRET=super-secret-jwt-key
N8N_WEBHOOK_URL=https://n8n.srv1927518.hstgr.cloud/webhook/revisar-informe
